
<div class="container">
    <div class="div1">
        <br><br>
        <h1>Hello Geeks</h1>
        <h3>Welcome to our website. By the end of every course you will learn the following things</h3>
        <p align="justify">
            This is an Angular web application. There are total five components for AboutUs, Courses, Reviews and Purchase. 
            All these components are grouped in module file(app.module.ts). These components are routed using Routing feature of Angular.
            In course section(File2.component), the courses names and are fetched using ngFor directive.
            The buy button is navigating to the Buy Form using navigation features in angular. Simillary, In Reviews section(File3.component),
            Images, names and courses are fetched using ngFor directive. The purchase section(File4.component)
            is made using angular form. After successfully submitting the form, you will be redirected to a page(File5.component), saying thanks and successful order placed.
        </p>
        <img src="./assets/aboutUsImg.png" alt="About Us Image">
    </div>